@font-face {
    font-family: 'lora';
    src: url('lora-regular-webfont.woff2') format('woff2'),
         url('lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
  background-image: url(background.png);
}

div {
text-align: center;
line-height: 1.8;
font-family: "Lora";
font-style: normal;
font-weight: 400;
font-display: swap;
src: url() format('woff2');
unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
border: 5px solid;
border-image: url(border.png) 30%;
border-image-width: 10px;
background-color: rgba(229,225,203,255);
}

h4 {
text-align: center;
text-align: top;
line-height: 1.8;
font-weight: 300;
border-width: 5px;
border-style: solid;
border-color: silver;
background-color: rgba(229,225,203,255)
}
}
h8 {
background-color: rgba(229,225,203,255)
}
h9 {
background-color: rgba(229,225,203,255)
}
h5 {
  background-color: rgba(229,225,203,255)
}
